*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.todoContent{
   padding-top: 100px;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;

   
   .THeader{
     width: 100%;
     display: block;
     text-align:center;
     padding:5px 10px;
     color:#fff;
     font-size: 25px;
     font-weight: 400;
     letter-spacing: 1px;
   }

   .todo{
     width: 380px;
     border-radius: 5px;
     box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
     overflow: hidden;  
     background: #4b6cb7;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
     .ant-card-head{
         color: #fff;
         font-size: 20px;
         font-weight: 400;
         letter-spacing: 1px;
         min-height: 30px !important;
         padding:0 18px;

     }
     .ant-card-body{
         padding:5px 15px 8px 15px;
     }
    }
}


.todoList{
    display:flex;
    justify-content: space-between;
    padding:3px 2px 2px 15px;
    border-bottom: 1px solid rgb(161, 154, 154);
    margin: 5px 0px 10px 5px;
    font-size: 13px;
    color:rgb(245, 237, 237);
    letter-spacing:.4px;

    .list-item{
        width: 220px;
        margin-right:10px;
        overflow-wrap: break;
        word-wrap: break-word;
    }
    
    .btn{
        height: 22px;
        padding:0;
        font-weight: 550;
        cursor: pointer; 
        border-radius: 0 !important;
        margin-right: 4px; 
    }

    .donebtn{
        width: 55px;
       
    }
    .deletebtn{
        width: 25px;
    }

}

.form{
    display:flex;
    padding: 5px 3px 10px 3px ;

    .input{
        width: 100%;
        border: none;
        padding:0px 8px ;
        font-size: 14px;
        outline: none;
        box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.158);
        font-weight: 400;
    }

    .addbtn{
        width:115px;
        height: 32px;
        font-weight: 550;
        padding:6px 8px ;
        cursor: pointer; 
        border-radius: 0 !important;
        margin-right: 4px; 

    }
   
    
}
