*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

.todoContent{
   padding-top: 120px;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   
   .THeader{
     width: 100%;
     display: block;
     text-align:center;
     padding:5px 10px;
     color:#fff;
     font-size: 25px;
     font-weight: 400;
     letter-spacing: 1px;
   }

   .todo{
     width: 380px;
     border-radius: 5px;
     box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
     overflow: hidden;    
    }
}


.todoList{
    display:flex;
    justify-content: space-between;
    padding:3px 2px 5px 25px;
    border-bottom: 1px solid rgb(161, 154, 154);
    margin: 5px 8px;
    font-size: 16px;
    color:rgb(245, 237, 237);
    letter-spacing:.4px;
    
    .donebtn{
        width: 55px;
        margin-right: 3px;
        cursor: pointer;
        height: 22px;
        cursor: pointer;
        background:rgb(90, 177, 97);
        border:none;
        outline:none;
    }
    .deletebtn{
        width: 25px;
        height: 22px;
        cursor: pointer;
        background:rgb(223, 52, 52);
        border:none;
        outline:none;
    }

}



.form{
    display:flex;
    margin:5px;
    padding: 5px 0;
    border-bottom: 1px solid rgb(161, 154, 154);

    .input{
        width: 100%;
        border: none;
        padding:6px 10px ;
        font-size: 16px;
        outline: none;
        box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.158);
        font-weight: 400;
    }

    .addbtn{
        width:115px;
        border:none;
        outline:none;
        background:rgb(219, 75, 142);
        font-weight: 550;
        cursor: pointer; 
        margin-right: 4px; 
    }
   
    
}